.presentation{
    display: flex;
    width: 100%;
    margin-left: 10%;
    
        .content{   
        width: 90%;
        height: 50%;
        padding: 0 10px;
        
        .report-card{
                width: 100%;
                height: 28%;
                border-radius: 18px;
                justify-content: flex-start;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                box-shadow: 3px 3px 12px -6px black;
                padding: 20px;
                margin: 30px 0;

                    .top-report{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        height: 50px;
                        
                        .profile{
                            width: 100%;
                            display: flex;
                
                            figure{
                                img{
                                    width: 50px;
                                }
                            }
                            p{
                                font-weight: bold;
                                padding: 16px 10px;
                                color: gray
                            }
                            .userName{
                                font-weight: bold;
                                padding: 2% 4%;
                                font-size: 18px;
                            }
                            .date{
                                font-weight: bold;
                                padding: 2% 6px;
                                font-size: 18px;
                                margin-left: 4%;
                            }
                            .report-state{
                                font-weight: bold;
                                padding: 2% 7%;
                                margin-left: 8%;
                                font-size: 18px;
                            }

                        }
                        .id{
                            width: 20%;
                            align-items: center;
                            display: flex;
                            color: gray;
                            font-weight: 600;
                            justify-content: flex-end;
                            padding-right: 25px;
                        }
                }
        }
    }
}