.report{
    width: 78%;
    // height: 32vh;
    border-radius: 18px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 3px 3px 12px -6px black;
    padding: 20px;

    .top-report{
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 50px;

        .profile{
            width: 100%;
            display: flex;

            figure{
                img{
                    width: 50px;
                }
            }

            p{
                font-weight: bold;
                padding: 16px 10px;
            }
        }
        .id{
            width: 20%;
            align-items: center;
            display: flex;
            color: gray;
            font-weight: 600;
            justify-content: flex-end;
            padding-right: 25px;
        }
    }

    .description-report{
        width: 100%;
        height: 80px;

        textarea{
            width: 100%;
            height: 100%;
            resize: none;
            border: none;
            outline: none;
            padding: 20px;
        }
    }

    .location-report{
        width: 100%;
        display: none;

        textarea{
            width: 100%;
            height: 100%;
            resize: none;
            border: none;
            outline: none;
            padding: 20px;
        }
    }

    .lower-items{
        width: 100%;
        // background: green;
        height: 40px;
        justify-content: flex-end;
        display: flex;
        padding: 10px;

        ul{
            width: 50%;
            display: flex;
            justify-content: flex-end;
            margin: 0 21px;


            li{
                margin: 10px;
                button{
                    border: none;
                    background: #fff;
                    outline: none;

                    i{
                        font-size: 21px;
                        color: #B79AB3;
                        transition: all 0.3s ease-in-out;

                        &:hover{
                            color: #575F72;
                        }
                    }
                }

                .btn-camera-opacity{
                    width: 23px;
                    cursor: pointer;

                    i{
                        font-size: 21px;
                        color: #B79AB3;
                        transition: all 0.3s ease-in-out;
                        cursor: pointer;

                        &:hover{
                            color: #575F72;
                        }
                        
                    }
                }

                .input-img{
                    position: relative;
                    bottom: 20px;
                    opacity: 0;
                    width: 17px;
                }
                
            }
        }

        .btn{
            button{
                padding: 9px 20px;
                border-radius: 6px;
                border: 2px solid #B79AB3;
                background: #B79AB3;
                color: #fff;
                font-weight: bold;
                transition: all 0.5s ease-in-out;
                outline: none;

                &:hover{
                    background: #fff;
                    color:#575F72;
                    border: 2px solid #575F72;
                }
            }
        }
    }
}

.background-opacity-modal{
    justify-content: center;
    align-items: center;
    background: #000000b5;
    width: 81.3%;
    height: 789px;
    position: absolute;
    top: 0px;
    right: 0;

    .modal{
        width: 700px;
        height: 540px;
        background: #fff;
        border-radius: 6px;
    }
}
