/* main page */

.content-generics{
    width: 90%;
    height: 100vh;
    display: flex;
    padding-top: 70px;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

// MOBILE

@media screen and (max-width: 1200px){
   .content-generics{
       width: 100%;
       padding-top: 120px;
   }
}